# Ignorar el archivo tokens.txt
tokens.txt

token.JSON

##.net settings for git repo:

syntax: glob

### VisualStudio ###

# Tool Runtime Dir
# note: there is no trailing slash so if these are symlinks (which are seen as files,
#       instead of directories), git will still ignore them.
.dotnet
.dotnet-mono
.dotnet-tools-global
.packages
.tools

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

