body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    flex-direction: column;
    min-height: 100vh;
    color: #bb8562;     
}
header {
    background-color: rgb(170, 217, 190); /* Verde clarito */
    color: white;
    padding: 1em;
    text-align: center;
    position: relative; /* Añadido */
}
.logo-container img {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    margin-right: 10px; /* Espacio entre la imagen y el título */
}
.logo-container {
    display: flex;
    align-items: center;
    font-size: 11px; /* Cambiar el tamaño del div */
}
#theme-image1,
#theme-image2,
.logo-container img {
    width: 40px; /* Establece el mismo tamaño para todas las imágenes */
    height: auto;
}

.header-buttons {
    display: flex;
}
.header-buttons a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    height: 150px;
    resize: none;
}
input[type="submit"] {
    background-color: rgb(170, 217, 190);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #5c956d;
}
input[type="submit"].dark-mode {
    background-color: #bb8562; /* Marrón clarito */
    color: #2e2e2e; /* Color del texto para contraste */
}
footer {
    background-color: #bb8562;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: auto; /* Fija el margen superior automáticamente */
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #2e2e2e;
    color: #bb8562;
}

header.dark-mode, nav.dark-mode {
    background-color: #4e762d; /* Verde oscuro */
}
input[type="submit"].dark-mode{
    background-color: hsl(24, 40%, 56%);
}
.download-button.dark-mode{
    color: #bb8562;
}
.container.dark-mode {
    background-color: #333; /* Cambia este valor al color gris oscuro que desees */
}
.intro.dark-mode, .services.dark-mode, .about.dark-mode, .contact.dark-mode, input[type="text"].dark-mode, input[type="email"].dark-mode, textarea.dark-mode {
    background-color: white;
    border-color: black; /* Borde verde oscuro */
    color: #706c6c;
}
nav a.dark-mode {
    color: #bb8562; /* Marrón clarito */
}
label.dark-mode{
    color: white;
}
h1.dark-mode{
    color:black;
}
h2.dark-mode{
    color:white;
}

.hidden {
    display: none;
}
footer.dark-mode {
    background-color: #4b3d33; /* Marrón oscuro */
}

footer p.dark-mode {
    color: black; /* Marrón clarito */
}

#changemode {
    position: absolute; 
    top: 20px; 
    right: 10px; 
    width: 35px;
    height: auto;
    cursor: pointer;
    z-index: 9999; 
    margin-right: 10px;
    margin-bottom: 50px;
}

#theme-image {
    width: 100%;
    height: auto;
}

#opciones {
    text-align: center; /* Alineación a la derecha */
    margin-top: 50px; /* Espacio entre el título y los botones */
    position: absolute; /* Posicionamiento absoluto para ubicar en la esquina */
    top: 0; /* Coloca en la parte superior */
    right: 0; /* Coloca en el extremo derecho */
    margin-top: 20px;
    margin-right: 120px;
}

.opcion {
    display: block;
    margin: 0px 5px auto;
    padding: 10px 30px;
    background-color: #bb8562;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    width: 75px;
}

#changemode, #opciones {
    display: flex; /* Cambio a flexbox para alinear elementos */
    align-items: center; /* Alinea verticalmente los elementos */
}

body.dark-mode .opcion {
    background-color: #bb8562; /* Color de fondo en modo oscuro */
    color: #000; /* Color del texto en modo oscuro */
}
#message-box {
    position: relative;
    margin-top: 20px; /* Reducción del espacio entre el contenido y el mensaje */
    text-align: center;
}

#message-container {
    padding: 15px;
        border: 2px solid #000;
        border-radius: 8px;
        display: inline-block; /* Para que el tamaño se ajuste al contenido */
        width: 70%; /* Ancho del contenedor */
        max-width: 400px; /* Ancho máximo */
        margin: 0 auto; /* Centrado horizontal */
}

#message-text {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#download-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    display: block; /* Convertir el botón en un bloque para aplicar márgenes automáticos */
    margin: 0 auto; /* Centrar horizontalmente */
}
#switch, #opciones {
    display: flex;
    align-items: center;
}
.switch {
    width: 60px;
    height: 34px;
    position: absolute;
    top: 20px;
    right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #AAD9BE;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #AAD9BE; /* Rojo */  
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.ventana {
    position: relative;
    background-color: #005904; /* Cambiado a verde más oscuro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
    max-width: 560px;
    width: 100%;
}
.sol-luna {
    position: absolute;
    top: 50%;
    right: 70px;
    font-size: 24px;
    color: #FFD700; /* Amarillo */
    transform: translateY(-50%);
    /* Alinea verticalmente */
}